/*
    ---
        STYLE DEL HEADER
    ---
*/



/*
    ---
        STYLE DEL SIDEBAR
    ---
*/



/*
    ---
        STYLE DEL CONTENT
    ---
*/


/*
    ---
        STYLE DEL FOOTER
    ---
*/

.footer{
  width: 100%;
  background: black;
  color: white;
}
