header{
  min-width: 100%;
  position: fixed;
}

header nav{
  background-color: #650707;
}

.main-content{
  background: url(http://localhost:8000/img/pre-home.png) no-repeat center center fixed;
	background-size: cover;
  min-height: 100vh;
  display: flex;
	justify-content: center;
	align-items: center;
}

.main-content1{
  background: url(http://localhost:8000/img/home.png) no-repeat center center fixed;
	background-size: cover;
  min-height: 100vh;
  display: flex;
	justify-content: center;
	align-items: center;
}


/*
    ---
        STYLE DEL SIG-IN.
    ---
*/

.cover {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  opacity: 0.9;
  filter: alpha(opacity=50);
  flex-direction: column;
  margin: 60px 0px 60px 0px;
}

.cover .bloque {
  padding: 50px 0px;
	background: white;
	width: 500px;
	text-align: center;
	color: black;
  box-shadow: 10px 10px 15px black;
}

.cover .bloque input{
    width: 75%;
}

.bottom{
  width: 500px;
}

.bottom .bottomRight{
  float: right;
}

.bottom .bottomLeft{
  float: left;
}

/*
    ---
        Link
    ---
*/

a{
  color: orange;
}


/*
    ---
        Footer
    ---
*/

.footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background: black;
  color: white;
}
