header{
  min-width: 100%;
}

.main-content{
  background: url(http://localhost:8000/img/home.png) no-repeat center center fixed;
	background-size: cover;
  width: 100%;
  height: 100vh;
}


/*
    ---
        STYLE DEL SIG-IN.
    ---
*/

.cover {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  flex-direction: column;
}

.cover .bloque {
	background: white;
	width: 500px;
	text-align: center;
	color: black;
	padding-top: 100px;
  padding-bottom: 80px;
  box-shadow: 10px 10px 15px black;
}

.cover .bloque input{
    width: 75%;
}

.bottom{
  width: 500px;
}

.bottom .bottomRight{
  text-align: left;
}

/*
    ---
        Link
    ---
*/

a{
  color: orange;
}


/*
    ---
        Footer
    ---
*/

.footer{
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
}
